<html>
    <head>
        <title>HTTP Content Obfuscation Demo</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/cats">Evil!</a></li>        
                <div style= "display:flex; margin-left: auto;">       
                <li><a href="/login">Login</a></li>
                </div>                
            </ul>
        </nav>
    </head>
</html>