<html>
    <footer class="footer">
        <div class="footer-content">
            <div class="column-left">
                <h2>OCRS 2023</h2>
            </div>
            <div class="footer-separator"></div>
            <div class="column-right">
                <p>HTTP Content Obfuscation Demo</p>
            </div>
            <div class="footer-separator"></div>
            <div class="column-left">
                <p>By Nate Balmain</p>
            </div>
        </div>
    </footer>
</html>
