{% extends "layout.html" %}

<h1>Hello world!</h1>

{% block content %}
{% if showImgs %}

{% for img in images %}
<div class="container">
<table>
    <th>
        <img src="{{img}}"> 
    </th>
    <th>
        
        {% if showBad %}
        <h1>Content for sale!</h1> 
        {% else %}
        <h1>Look at this cat!</h1> 
        {% endif %}
    </th>
        
</table>
</div>
    
    

{% endfor %}

{% else %}
<h1> Welcome to my cat blog! <br>
    Select Cats in the nav bar to see some cute cats!
</h1>
{% endif %}

<img src="static/cats/cat3.jpeg">


{% endblock content %}