{% extends "layout.html" %}

<h1>Hello world!</h1>

{% block content %}
<div class="level">
<h1> Welcome to the evil blog!</h1>
<nav><a href="/giveMeCookie">Give me a cookie!</a><a href="/login">Login</a></nav>
{% if showImgs %}

{% for img in images %}

<img src="{{img}}">
{% endfor %}

{% else %}
<h1> there is nothing to see here!</h1>
{% endif %}

<img style="width: 600px; height: auto;" src="static/cats/cat3.jpeg">
<img style="width: 600px; height: auto;" src="{{ url_for('static', filename='cats/cat1.webp') }}">


<form action="/frombutton">
    <!-- <input type="hidden" name="moarDogs" value="True"> -->
    <button type="submit" name="moarDogs" value="True"> More Dogs Here! </button>    
</form>

{% if showDogs %}
<form action="/showDogs" method="post">
    <button type="submit"> More Dogs Here! </button>    
    </form>

{% endif %}

<!-- <a href="http://www.google.com">More Evil Here!</a> -->
<a href="http://cat.blog.com/freindlyReferrerExample" referrerpolicy="origin" >A tag referrer</a>
<!-- <a href="http://cat.blog.com">A tag referrer</a> -->

<form action="http://cat.blog.com/friendlyServerClientToken" method="post">
    <input type="hidden" name="isFriendly" value="True">
    <input type="hidden" name="token" value="{{token}}">
<button type="submit">Token as a part of the client</button>
</form>

<form action="/friendlyRedirectServerToken" method="post">
    <input type="hidden" name="isFriendly" value="True">
<button type="submit">Token as a part of the Server</button>
</form>


<h1>Friendly Intermediary</h1>

<a href="http://interm.blog.com/redirect">Intermediary</a>



</div>
<!-- <img src="cat2.webp"> -->
{% endblock content %}